body {
  background:blue;
}
.buzzmap-active div.node {
  color:white;
  font: 30px/34px Arial, sans-serif;
  font-size:1em;
  background:red;
  opacity:0.9;
  border: 2px solid orange;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;	
}
.buzzmap-active div.node a {
  color:#fff;
}
.buzzmap-active div.node.active {
  padding:5px 10px !important;
  border-width:5px !important;
  color:#fff!important;
}
.buzzmap-active div.node.active a {
  color:#fff;
}
.buzzmap-active div.node.root {
  font-size:2em;
}