.js-mindmap-active .node {
	position:absolute;
	top:0;
	left:0;
	padding:0 7px;
	cursor:default;
	z-index:100;
	list-style:none;
	letter-spacing:0;
	display:block;
	text-align:center;
	text-decoration:none;
}
.js-mindmap-active .node.active{
        font-size:1.5em;
}
.js-mindmap-active img.line {
	position:absolute;
	width:200px;
	height:133px;
	top:0;
	left:0;
	display:block;
	z-index:0;
	}
.ui-draggable {
	position:absolute;
}
.js-mindmap-active .node .node-action {
	position:absolute;
	right:-2em;
	bottom:-1px;
	text-align:center;
	vertical-align:super;
}
