body {
  background:blue;
}
.buzzmap .node {
  z-index: 100;
  cursor: default;
  display: block;
  
  background:red;
  opacity:0.9;
  color:white;
  font: 30px/34px Arial, sans-serif;
  font-size:1em;
  text-align: center;
  
  padding:0 7px;
  border: 2px solid orange;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;	
}
.buzzmap .node a {
  color:#fff;
}
.buzzmap .node.active {
  border-width:5px;
  font-size:1.2em;
}
.buzzmap .node.active a {
  color:#fff;
}
.buzzmap .node.root {
  padding:5px 10px;
  font-size:2em;
}